# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.venv/
.venv-build/
venv/

# Build artifacts
build/
dist/
*.spec

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# GUI state
~/.usaf_oi_formatter.json
